nav a:hover {
    color: #1a1f35;
    text-shadow: 0 0 10px #5E8800;
}
main a:hover {
    color: #1a1f35;
    text-shadow: 0 0 10px #5E8800;
}
footer a:hover {
     color: #1a1f35;
    text-shadow: 0 0 10px #5E8800;
}
